[GdmGreeterTheme]
Encoding=UTF-8
Greeter=Arc-GDM.xml
Name=Arc-Illustrious-Userlist GDM
Description=Smooth looking GDM.
Author=perfectska04, Daniel Fore.
Copyright=GPL
Screenshot=screen.jpg
